#vim temporary files
*.sw?


cgi-bin/BookmakerOfferDownloader/output/downloadedPolandEkstraklasa_realnet.xml
cgi-bin/BookmakerOfferDownloader/output/downloadedQatar_realnet.xml
cgi-bin/BookmakerOfferDownloader/tmp/*
cgi-bin/BookmakerOfferDownloader/tools/*.html
cgi-bin/download1x2Data.js
cgi-bin/download1x2Data_*_tmp.js
cgi-bin/output/realData/*.xml
cgi-bin/rawdataevent_*.txt
cgi-bin/results/*
cgi-bin/tmp/*
cgi-bin/tmp/bookmakerOffert.xml
cgi-bin/BookmakerOfferDownloader/tests/unit_tests/create_BookmakersOfferFile/bookmakerOfferFile_actual.xml
data/*
*_actual.xml
*.code-workspace.code-workspace
