cgi-bin/BookmakerOfferDownloader/tmp/download1x2Data.js
cgi-bin/download1x2Data.js
cgi-bin/rawdataevent_*.txt
cgi-bin/output/realData/*.xml
cgi-bin/tmp/bookmakerOffert.xml
*.swp
cgi-bin/BookmakerOfferDownloader/tools/*.html
cgi-bin/download1x2Data_*_tmp.js
cgi-bin/BookmakerOfferDownloader/output/downloadedPolandEkstraklasa_realnet.xml
cgi-bin/BookmakerOfferDownloader/output/downloadedQatar_realnet.xml
cgi-bin/tmp/*
cgi-bin/results/*
