BookmakerOfferDownloader/tmp/download1x2Data.js
download1x2Data.js
rawdataevent_*.txt
output/realData/*.xml
tmp/bookmakerOffert.xml
*.swp
BookmakerOfferDownloader/tools/*.html
download1x2Data_*_tmp.js
BookmakerOfferDownloader/output/downloadedPolandEkstraklasa_realnet.xml
BookmakerOfferDownloader/output/downloadedQatar_realnet.xml
tmp/*
results/*xml
